---
layout: page
title: "About"
description: ""
group: navigation

---
{% include JB/setup %}

<p>Hey there! I'm Minh Nguyen, a software engineer, who enjoys
	solving problems and building things. I'm
	constantly changing the design and content of this site but my goals are to share my knowledge,
	give back to open source, explore different technologies, show my side projects, and make an impact in the world.
	Other than that, I like robots, scifi, AI, coffee, tea, and cool stuff.</p>

<p>Currently I live around Washington, DC and my hardware mostly involves a 15" Retina Macbook, iPhone, iPad, and
some Windows7 and Ubuntu boxes. Most of my experience is with Java but I also really love web development and lately
I've been really liking JavaScript and the NodeJS world.</p>

<p>I try to be social so it'll be awesome to connect (and maybe even team up): </p>

<div class="uncolor">
	<a href="https://www.linkedin.com/in/minhnguyen9"><i class="icon-linkedin-sign icon-2x"></i></a>
	<a href="mailto:minhongrails@gmail.com"><i class="icon-envelope icon-2x"></i></a>
	<a href="https://twitter.com/iominh"><i class="icon-twitter-sign icon-2x"></i></a>
	<a href="https://github.com/iominh"><i class="icon-github-sign icon-2x"></i></a>
	<a href="http://stackoverflow.com/users/2484612/minh-nguyen"><i class="icon-stackexchange icon-2x"></i></a>
	<a href="/rss.xml"><i class="icon-rss-sign icon-2x"></i></a>
</div>
