---
layout: page
title: Minh Nguyen
image: default
creditName: Michel Koch
creditLink: http://www.michelkoch.fr/
---

<div class="row-fluid">
	<div class="span12">
		<h3>Posts</h3>

		<section id="content">

			<div id="container" class="clearfix">
				<table class="listing table-hover">

					{% for post in site.posts limit:8 %}
					<tbody>
						<tr class="listing-post cursorHand" onclick='document.location = "{{ BASE_PATH }}{{ post.url }}";'>
							<td class=""><a title="{{post.title}}" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></td>
							<td class="text-right quiet">{{ post.date | date: "%B %d %Y" }}</td>
						</tr>
					</tbody>
					{% endfor %}

					{% for post in site.posts offset:9 %}
					<tbody class="listing-extra-posts display-none">
						<tr class="listing-post cursorHand" onclick='document.location = "{{ BASE_PATH }}{{ post.url }}";'>
							<td class=""><a title="{{post.title}}" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></td>
							<td class="text-right quiet">{{ post.date | date: "%B %d %Y" }}</td>
						</tr>
					</tbody>
					{% endfor %}

				</table>
			</div> <!-- #container -->

		</section> <!-- #content -->

		<div style="padding: 15px 0 5px 0;">
			<button id="showMorePostsButton" onclick="showMorePosts()">Show more posts</button>
		</div>

	</div>
</div>



