---
layout: page
title: Projects
header: Projects
group: navigation
tags : [projects, foodwall]
---
{% include JB/setup %}
<div class="projects-container">

    <div class="row-fluid">
        <div class="span4 project-description">
            <h3>Foodtime</h3>
            <br>

            <p>Foodtime provides food recommendations through photos and filters to show dishes that meet your tastes
                and
                dietary restrictions. Work in progress.</p>

            <div class="center">
                <a href="http://test9.minh.io" target="_blank">Web Link</a>
            </div>
            <br>
        </div>
        <br>

        <div class="span8">
            <a class="">
                <img class='imageSpotlight' src="/assets/img/foodtime.jpg" alt="foodtime.jpg"/>
            </a>
        </div>
        <hr>
    </div>
    <br><br>

    <div class="row-fluid">
        <div class="span4 project-description">
            <h3>HealthTrack</h3>
            <br>

            <p>HealthTrack won first place, $1,500, and MoDevEast tickets for the <a
                    href="http://health-hack.challengepost.com/">2013 HealthHack hackathon.</p>

            <div class="center">
                <a href="http://health.minh.io/slides" target="_blank">Slides</a>
            </div>
            <br>
        </div>
        <div class="span8">
            <a class="">
                <img class='imageSpotlight' src="/assets/img/iphone.png" alt="iphone.png" width="700px"/>
            </a>
        </div>
        <hr>
    </div>
    <br><br>

    <div class="row-fluid">
        <div class="span4 project-description">
            <h3>Fraudwatch</h3>
            <br>

            <p>FraudWatch won a $1,000 honorable mention prize for the DC Tech iStrategyLabs / D&B hackathon</p>

            <div class="center">
                <a href="http://fraudwatch.minh.io" target="_blank">Web</a> | <a href="http://fraudwatch.minh.io/slides"
                                                                                 target="_blank">Slides</a>
            </div>

            <br>
        </div>
        <div class="span8">
            <a class="">
                <img class='imageSpotlight' src="/assets/img/fraudwatch_ipad.jpg" alt="fraudwatch_piad.jpg"
                     width="700px"/>
            </a>
        </div>
        <hr>
    </div>
</div>

