@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

//0 1px 1px 0 rgba(0,0,0,0.25);
@mixin boxshadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin boxshadowMultiple($shadow1, $shadow2) {
  -webkit-box-shadow: $shadow1, $shadow2;
  -moz-box-shadow: $shadow1, $shadow2;
  box-shadow: $shadow1, $shadow2;
}

@mixin bp($point) {
  @if $point == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $point == xs {
    @media (min-width: $xs) {
      @content;
    }
  } @else {
    @media (min-width: $point) {
      @content
    }
  }
}

@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}
@mixin bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
}

@mixin top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}
@mixin top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
}

@mixin linear-gradient($color1, $color2) {
  background: -moz-linear-gradient(-45deg,$color1 0,$color2 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0,$color1),color-stop(100%,$color2));
  background: -webkit-linear-gradient(-45deg,$color1 0,$color2 100%);
  background: -o-linear-gradient(-45deg,$color1 0,$color2 100%);
  background: -ms-linear-gradient(-45deg,$color1 0,$color2 100%);
  background: linear-gradient(135deg,$color1 0,$color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin button-hover() {
  @include transition(all 10ms ease-in-out);
  @include boxshadowMultiple(inset 0 -0px 0 $gray, inset 0 0 50px #ebebeb);
}

@mixin filter($filter) {
  -moz-filter: blur($filter);
  -ms-filter: blur($filter);
  -o-filter: blur($filter);
  -webkit-filter: blur($filter);
  filter: blur($filter)
}