<ul class="pager">
	{% if page.previous %}
	<li class="previous">
		<a href="{{ BASE_PATH }}{{ page.previous.url }}"
		   data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">← Previous</a>
	</li>
	{% endif %}
	{% if page.next %}
	<li class="next">
		<a href="{{ BASE_PATH }}{{ page.next.url }}"
		   title="{{ page.next.title }}">Next →</a>
	</li>
	{% endif %}

</ul>