<div class="stripes">
    <span class="stripe item1"></span>
    <span class="stripe item2"></span>
    <span class="stripe item3"></span>
    <span class="stripe item4"></span>
    <span class="stripe item5"></span>
    <span class="stripe item6"></span>
    <span class="stripe item7"></span>
    <span class="stripe item8"></span>
    <span class="stripe item9"></span>
    <span class="stripe item10"></span>
    <span class="stripe item11"></span>
    <span class="stripe item12"></span>
    <span class="stripe item13"></span>
    <span class="stripe item14"></span>
    <span class="stripe item15"></span>
    <span class="stripe item16"></span>
    <span class="stripe item17"></span>
    <span class="stripe item18"></span>
    <span class="stripe item19"></span>
    <span class="stripe item20"></span>
    <span class="stripe item21"></span>
    <span class="stripe item22"></span>
    <span class="stripe item23"></span>
    <span class="stripe item24"></span>
    <span class="stripe item25"></span>
    <span class="stripe item26"></span>
    <span class="stripe item27"></span>
    <span class="stripe item28"></span>
    <span class="stripe item29"></span>
    <span class="stripe item30"></span>
    <span class="stripe item31"></span>
    <span class="stripe item32"></span>
    <span class="stripe item33"></span>
    <span class="stripe item34"></span>
    <span class="stripe item35"></span>
    <span class="stripe item36"></span>
    <span class="stripe item37"></span>
    <span class="stripe item38"></span>
    <span class="stripe item39"></span>
    <span class="stripe item40"></span>
    <span class="stripe item41"></span>
    <span class="stripe item42"></span>
    <span class="stripe item43"></span>
    <span class="stripe item44"></span>
    <span class="stripe item45"></span>
    <span class="stripe item46"></span>
    <span class="stripe item47"></span>
    <span class="stripe item48"></span>
    <span class="stripe item49"></span>
    <span class="stripe item50"></span>
</div>