<!DOCTYPE html>
<html lang="en">
<!--
======================================================
Version 1.0.5
Source: https://github.com/iominh/blog
======================================================
-->

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <meta name="description" content="{{ site.description }}" />
        <meta property="og:title" content="Homepage of Minh Nguyen" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{ site.production_url }}/assets/img/favicon/robot.png" />

        <!-- Enable responsive viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link rel="canonical" href="{{ site.production_url }}" />

        <link rel="icon" type="image/ico" href="{{ BASE_PATH }}/assets/img/favicon/robot.png">
        <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="/assets/bower_components/icomoon/style.css" rel="stylesheet">
        <link href="{{ ASSET_PATH }}/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/assets/bower_components//pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" >

        <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/bower_components/google-code-prettify/src/prettify.css">
        <link rel="stylesheet" href="/assets/bower_components/fluidbox/css/fluidbox.css">

        <link href="{{ ASSET_PATH }}/css/main.css" rel="stylesheet" type="text/css" media="all">
	    <!-- atom & rss feed -->
        <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
        <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    </head>

    <body>

    <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         width="32" height="32" viewBox="0 0 32 32">
	    <defs>
		    <g id="icon-home">
			    <path class="path1"
			          d="M16 2l-16 16 3 3 3-3 2 12h6v-6h4v6h6l2-12 3 3 3-3-16-16zM16 14.828c-1.562 0-2.829-1.266-2.829-2.828s1.266-2.828 2.829-2.828c1.562 0 2.828 1.266 2.828 2.828s-1.266 2.828-2.828 2.828z"></path>
		    </g>
	    </defs>
    </svg>

    <div class="page-container container sideShadows">
        <div class="navbar navbar-inverse navigation">

            <ul class="navbuttons clearfix no-bullet">
                <li id="wrapper">
                        <div>
                            <a id="homenav" href="{{ HOME_PATH }}"><span data-icon="&#xe002;"></span> Home</a>
                        </div>
                        <div>
                            <a id="aboutnav" href="/about"><span data-icon="&#xe09f;"></span> About</a>
                        </div>
                        <div>
                            <a id="projectnav" href="/projects"><span data-icon="&#xe0a9;"></span> Projects</a>
                        </div>
                </li>
            </ul>
        </div>

        {% if page.image %}
		    <div class="image-header">
			    <div class="image-header-text fadeInWithDelay">
				    <h1>{{ page.title }}</h1>
			    </div>
			    <div class="image-credit">
				    Image source: <a href="{{page.creditLink}}">{{ page.creditName }}</a>
			    </div>
			    <div class="image-overlay"></div>
		    </div>
        {% endif %}


        <div class="page-content">

            <div id="mainContent">

                {% if page.image == null %}
                <div class="page-header">
                    <h1>{{ page.title }} {% if page.tagline %}
                        <small>{{ page.tagline }}</small>
                        {% endif %}
                    </h1>
                </div>
                {% endif %}

                <div class="content">
                    {{ content }}
                    <br>
                    <footer>
                        <p class='pull-left'>&copy; {{ site.time | date: '%Y' }}
                            <a href="https://github.com/iominh/blog" target="_blank" title="Open Source Theme">{{ site.author.name }}</a>
                        </p>
                        <p class='pull-right'>
                            <a href="mailto:minhongrails@gmail.com"><i class="icon-envelope"></i></a>
	                        <a href="https://www.linkedin.com/in/minhnguyen9"><i class="icon-linkedin-sign"></i></a>
	                        <a href="https://twitter.com/iominh"><i class="icon-twitter-sign"></i></a>
	                        <a href="https://github.com/iominh"><i class="icon-github-sign"></i></a>
	                        <a href="http://stackoverflow.com/users/2484612/minh-nguyen"><i
			                        class="icon-stackexchange"></i></a>
	                        <a href="/rss.xml"><i class="icon-rss-sign"></i></a>
                        </p>
                    </footer>
                </div>
             </div>

        </div>


    </div>
    {% include JB/javascript %}
    {% include JB/analytics %}
</body>
</html>