<div class="page-header mobile">
	{% include partials/pager.html %}
</div>

<div class="row-fluid post-full">
    <div class="span12">

        <div class="date">
            <span>{{ page.date | date: "%B %d %Y" }}</span>
        </div>
        <div class="">
            {{ content }}
        </div>

        {% unless page.categories == empty %}
        <br>
        <hr>
        <ul class="tag_box inline">
            <li><i class="icon-folder-open"></i></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
        </ul>
        {% endunless %}  

        {% unless page.tags == empty %}
        <ul class="tag_box inline">
            <li><i class="icon-tags"></i></li>
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}

	    <hr>
	    {% include partials/pager.html %}
        <hr>
        {% include JB/comments %}
    </div>
</div>